<header>
    <nav>
        <center><img src='./static/santosfutebolclube.jpg' width='400px' /></center>
     
        <a href="sobre">
            <center>Ir para a pagina SOBRE <br>
            <a href="/cadastro"> Ir para a p치gina de CADASTRO</a> <br>
            <a href="/dashboard">Ir para a p치gina DASHBOARD</a> <br>
            <a href="/login">Ir para a p치gina LOGIN</a> <br>
            <a href="/logout">Ir para a p치gina LOGOUT</a> <br>
            
        </center>
        </a>
        <br> <br>
      
    </nav>
</header>