<!DOCTYPE html>
<html lang="ptbr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <center>
        Página Inicial
    </center>
    <a href="sobre">
        <center>Ir para a pagina sobre</center>
    </a>
    <center><img src='./static/neymarsantos.webp' width='700px' /></center>
</body>

</html>