<!DOCTYPE html>
<html lang="ptbr">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/menu")%>
    Você está na pagina de CADASTRO
    <a href="/"> voltar para a pagina inicial</a>
    
    <%- include("../partials/footer")%>
</body>
</html>

