<!DOCTYPE html>
<html lang="ptbr">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/menu")%>
    Você está na pagina LOGIN
    <a href="/"> voltar para a página inicial</a>
    testando

<%- include("../partials/footer")%>
</body>
</html>

